<section class="section" id="contact">
    <div class="container-fluid justify-content-md-center py-5">
        <div class="pb-3">
            <h1 class="text-altlight"><span class="text-altprimary">05. </span>Get in touch with me!</h1>
        </div>
        <div class="row">
            <div class="offset-md-3 col-md-6 offset-md-3">
                <div class="row align-items-center pt-5 ">
                    <div class="text-altsecondary">
                        <p>My girlfriend told me, these forms are old-school, but I didn't listen to her...</p>
                        <p>If you do not wish to contact me via any of the social platforms listed below, please contact me here!</p>
                        <p>All comments are welcome!</p>
                    </div>
                    <form class="pt-4">
                        <div class="form-group ">
                            <label class="text-altprimary" for="exampleFormControlInput1">Your Email</label>
                            <input type="email" class="form-control text-altprimary" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="form-group">
                            <label class="text-altprimary" for="exampleFormControlTextarea1">Your Message</label>
                            <textarea class="form-control text-altprimary" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="pb-2 pt-4">
                            <button type="submit" class="btn btn-outline-altprimary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
          </div>
    </div>
    <footer class="py-3">
        <div class="text-center">
            {% if user.facebook %}
            <a href="{{ user.facebook }}"><i class="bi bi-facebook text-altprimary px-2"></i></a>
            {% endif %}
            {% if user.linkedin %}
            <a href="{{ user.linkedin }}"><i class="bi bi-linkedin text-altprimary px-2"></i></a>
            {% endif %}
            {% if user.github %}
            <a href="{{ user.github }}"><i class="bi bi-github text-altprimary px-2"></i></a>
            {% endif %}
            {% if user.instagram %}
            <a href="{{ user.instagram }}"><i class="bi bi-instagram text-altprimary px-2"></i></a>
            {% endif %}
            {% if user.behance %}
            <a href="{{ user.behance }}"><i class="bi bi-behance text-altprimary px-2"></i></a>
            {% endif %}
            {% if user.email %}
            <a href="mailto:{{ user.email }}"><i class="bi bi-envelope-fill text-altprimary px-2"></i></a>
            {% endif %}
        </div>
    </footer>
</section>