{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Navigator -->
{% include 'navbar.html' %}
<div class="px-5">
    <!-- Header -->
    {% include 'header.html' %}
    <!-- Sections About -->
    {% include 'about.html' %}
    <!-- Sections Experience -->
    {% include 'experience.html' %}
    <!-- Sections Expertise -->
    {% include 'expertise.html' %}
    <!-- Sections Projects -->
    {% include 'projects.html' %}
    <!-- Sections Contact -->
    {% include 'contact.html' %}
</div>
{% endblock content %}
