{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Navigator -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" id="navigator">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse px-5" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#about"><span class="text-altprimary">01. </span>About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience"><span class="text-altprimary">02. </span>Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#expertise"><span class="text-altprimary">03. </span>Expertise</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects"><span class="text-altprimary">04. </span>Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact"><span class="text-altprimary">05. </span>Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="px-5">
    <!-- Header -->
    <header class="header py-5">
        <div class="container-fluid justify-content-md-center py-5">
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="text-left">
                    <div>
                        <h4 class="pb-1 text-altprimary">Hello, I am</h4>
                        <h1 class="text-altlight">{{ user.last_name }} {{ user.first_name }}.</h2>
                        <h1 class="pb-1 text-altsecondary">My passion is software testing.</h1>
                        <p class="text-altsecondary w-50">I am a quality assurance engineer with a passion for automated testing, web development and cloud technologies. I believe that the challenges of modern software testing can only be effectively met by highly skilled quality assurance engineers. Accordingly, I strive to continuously educate myself and experiment with the latest technologies.</p>
                    </div>
                    <a class="btn btn-outline-altprimary" href="#about" role="button">View My Portfilio<i class="bi bi-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </header>
    <!-- Sections About -->
    <section class="section py-5" id="about">
        <div class="container-fluid justify-content-md-center py-5">
            <div>
                <h1 class="text-altlight"><span class="text-altprimary">01. </span>My Story</h1>
            </div>
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center py-5">
                <div class="col-md-6">
                    <div class="d-flex justify-content-center">
                        <div class="text-left text-altsecondary">
                            {% for story in user.story.all %}
                            <div class=" py-2">{{ story.text }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <img src="{{ user.profile_picture.url }}" class="float-left rounded-circle gs-filter" id="userProfilePicture" alt="User Profile Picture">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Sections Experience -->
    <section class="section py-5" id="experience">
        <div class="container-fluid justify-content-md-center py-5">
            <div>
                <h1 class="text-altlight"><span class="text-altprimary">02. </span>Work Experience                 <a class="btn btn-outline-altprimary" href="#" role="button">View My Resume<i class="bi bi-chevron-right"></i></a>
                </h1>       
            </div>
            <div class="gx-0 mb-4 mb-lg-5 align-items-center py-5">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills mb-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        {% for job in user.job.all %}
                            {% if forloop.first %}                           
                            <button class="nav-link experience active" id="v-pills-{{ job.pk }}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{ job.pk }}" type="button" role="tab" aria-controls="v-pills-{{ job.pk }}" aria-selected="true">{{ job.position }}</button>
                            {% else %}
                            <button class="nav-link experience" id="v-pills-{{ job.pk }}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{ job.pk }}" type="button" role="tab" aria-controls="v-pills-{{ job.pk }}" aria-selected="false">{{ job.position }}</button>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                        {% for job in user.job.all %}
                            {% if forloop.first %}
                            <div class="tab-pane fade show active pt-3" id="v-pills-{{ job.pk }}" role="tabpanel" aria-labelledby="v-pills-{{ job.pk }}-tab">
                                <div class="container-fluid">
                                    <div class="">
                                        {% if job.current is True%}
                                        <div class="pb-1 text-altsecondary">{{ job.work_from }} - </div>
                                        {% else %}
                                        <div class="pb-1 text-altsecondary">{{ job.work_from }} - {{ job.work_till }}</div>
                                        {% endif %}
                                        <div>
                                            <h3 class="pb-1 text-altprimary">{{ job.position }}</h3>
                                            <h4 class="pb-4 text-altsecondary">{{ job.company }}</h5>
                                        </div>
                                    </div>
                                    <div class="">
                                        {% for task in job.task.all %}
                                        <p class="text-altsecondary"><i class="bi bi-chevron-right text-altprimary py-1"></i>{{ task.description }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="tab-pane fade pt-3" id="v-pills-{{ job.pk }}" role="tabpanel" aria-labelledby="v-pills-{{ job.pk }}-tab">
                                <div class="container-fluid">
                                    <div class="">
                                        {% if job.current is True%}
                                        <div class="pb-1 text-altsecondary">{{ job.work_from }} - </div>
                                        {% else %}
                                        <div class="pb-1 text-altsecondary">{{ job.work_from }} - {{ job.work_till }}</div>
                                        {% endif %}
                                        <div>
                                            <h3 class="pb-1 text-altprimary">{{ job.position }}</h3>
                                            <h4 class="pb-4 text-altsecondary">{{ job.company }}</h5>
                                        </div>
                                    </div>
                                    <div class="">
                                        {% for task in job.task.all %}
                                        <p class="text-altsecondary"><i class="bi bi-chevron-right text-altprimary py-1"></i>{{ task.description }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                  </div>
            </div>
        </div>
    </section>
    <!-- Sections Expertise -->
    <section class="section py-5" id="expertise">
        <div class="container-fluid justify-content-md-center py-5">
            <div>
                <h1 class="text-altlight"><span class="text-altprimary">02. </span>Things I like</h1>
            </div>
            <p class="text-altsecondary py-3">I have been working with these technologies recently and there are some things I like bery bery much. There are some things I like bery bery much. There are some things I like bery bery much.</p>
            <div class="row row-cols-1 row-cols-md-1 g-4 py-3 d-none" id="lgExpertiseContainer"> <!-- remove row-cols-md-3, add row-cols-md-1 -->
                {% for skill in user.skill.all %}
                <div class="col d-none" id="lgExpertiseCard{{ skill.pk }}">
                    <div class="card h-100">
                        <div class="card-body bg-altdark">
                            <div class="row">
                                <div class="col">
                                    <h4 class="card-title text-altprimary">{{ skill.name }}<i class="bi bi-cloud text-altprimary px-2"></i></h4>
                                </div>
                                <div class="col text-end">
                                    <button type="button" class="btn btn-outline-altprimary" id="lgExpertiseShowLess{{ skill.pk }}"><i class="bi bi-box-arrow-in-down-left"></i></button>
                                </div>
                            </div>
                            <div class="">
                                <p class="card-text text-altsecondary"><i class="bi bi-chevron-right text-altprimary py-1"></i>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="progress">
                                    <div class="progress-bar bg-altprimary" id="lgSkillProgressBar{{ skill.pk}}" role="progressbar" style="width: {{ skill.percentage }}%" aria-valuenow="{{ skill.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4 py-3" id="smExpertiseContainer"> <!-- remove row-cols-md-3, add row-cols-md-1 -->
                {% for skill in user.skill.all %}
                <div class="col" id="smExpertiseCard{{ skill.pk }}">
                    <div class="card h-100">
                        <div class="card-body bg-altdark">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-altsecondary">{{ skill.name }}<i class="bi bi-cloud text-altprimary px-2"></i></h5>
                                </div>
                                <div class="col text-end">
                                    <button type="button" class="btn btn-outline-altprimary" id="smExpertiseShowMore{{ skill.pk }}"><i class="bi bi-box-arrow-up-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </section>
    <!-- Sections Projects -->
    <section class="section py-5" id="projects">
            <div class="container-fluid justify-content-md-center py-5">
                <div>
                    <h1 class="text-altlight"><span class="text-altprimary">03. </span>My Projects</h1>
                </div>
                <div class="gx-0 mb-4 mb-lg-5 align-items-center py-5">
                    <div class="card mb-3 bg-altdark">
                        <div class="row">
                            <div class="col-md-4 d-flex px-0">
                                <img src="{{ user.profile_picture.url }}" class="img-fluid gs-filter project-picture" alt="Picture of the Project">
                            </div>
                            <div class="col-md-8 d-flex px-5">
                                <div class="align-items-start flex-column">
                                    <div class="card-body" style="height: 85%">
                                        <p class="card-text text-altprimary">Featured Project</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                        <h1 class="card-title text-altlight">Porfolio Page</h1>
                                        <p class="text-altsecondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</p>
                                    </div>
                                    <div class="card-footer border-altsecondary text-altprimary">
                                        <span class="badge text-altdark bg-altprimary">Django</span>
                                        <span class="badge text-altdark bg-altprimary">Python</span>
                                        <span class="badge text-altdark bg-altprimary">Bootstrap</span>
                                        <span class="badge text-altdark bg-altprimary">Pytest</span>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 bg-altdark">
                        <div class="row">
                            <div class="col-md-8 d-flex px-5">
                                <div class="align-items-start flex-column">
                                    <div class="card-body" style="height: 85%">
                                        <p class="card-text text-altprimary">Featured Project</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                        <h1 class="card-title text-altlight">Porfolio Page</h1>
                                        <p class="text-altsecondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</p>
                                    </div>
                                    <div class="card-footer border-altsecondary text-altprimary">
                                        <span class="badge text-altdark bg-altprimary">Django</span>
                                        <span class="badge text-altdark bg-altprimary">Python</span>
                                        <span class="badge text-altdark bg-altprimary">Bootstrap</span>
                                        <span class="badge text-altdark bg-altprimary">Pytest</span>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-md-4 d-flex px-0">
                                <img src="{{ user.profile_picture.url }}" class="img-fluid gs-filter project-picture" alt="Picture of the Project">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Sections Contact -->
    <section class="section" id="contact">
        <div class="container-fluid justify-content-md-center py-5">
            <div class="pb-3">
                <h1 class="text-altlight"><span class="text-altprimary">05. </span>Get in touch with me!</h1>
            </div>
            <div class="row">
                <div class="offset-md-3 col-md-6 offset-md-3">
                    <div class="row align-items-center pt-5 ">
                        <div class="text-altsecondary">
                            <p>My girlfriend told me, these forms are old-school, but I didn't listen to her...</p>
                            <p>If you do not wish to contact me via any of the social platforms listed below, please contact me here!</p>
                            <p>All comments are welcome!</p>
                        </div>
                        <form class="pt-4">
                            <div class="form-group ">
                                <label class="text-altprimary" for="exampleFormControlInput1">Your Email</label>
                                <input type="email" class="form-control text-altprimary" id="exampleFormControlInput1" placeholder="name@example.com">
                            </div>
                            <div class="form-group">
                                <label class="text-altprimary" for="exampleFormControlTextarea1">Your Message</label>
                                <textarea class="form-control text-altprimary" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="pb-2 pt-4">
                                <button type="submit" class="btn btn-outline-altprimary">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
              </div>
        </div>
        <footer class="py-3">
            <div class="text-center">
                <a href="#"><i class="bi bi-facebook text-altprimary px-2"></i></a> <!-- TODO: user media profile to db, fill it, insert templatetag -->
                <a href="#"><i class="bi bi-linkedin text-altprimary px-2"></i></a> <!-- TODO: user media profile to db, fill it, insert templatetag -->
                <a href="#"><i class="bi bi-github text-altprimary px-2"></i></a> <!-- TODO: user media profile to db, fill it, insert templatetag -->
                <a href="#"><i class="bi bi-instagram text-altprimary px-2"></i></a> <!-- TODO: user media profile to db, fill it, insert templatetag -->
                <a href="#"><i class="bi bi-behance text-altprimary px-2"></i></a> <!-- TODO: user media profile to db, fill it, insert templatetag -->
            </div>
        </footer>
    </section>
</div>
{% endblock content %}
