/* Monserat */
@font-face {
    font-family: 'Montserrat-Bold';
    src: local('Montserrat-Bold'), url("/static/fonts/Montserrat/Montserrat-Bold.ade91f473255.ttf") format('opentype');
  }
  
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: local('Montserrat-ExtraBold'), url("/static/fonts/Montserrat/Montserrat-ExtraBold.19ba7aa52a78.ttf") format('opentype');
}

@font-face {
  font-family: 'Montserrat-Black';
  src: local('Montserrat-Black'), url("/static/fonts/Montserrat/Montserrat-Black.27e3649bab7c.ttf") format('opentype');
}
  
@font-face {
  font-family: 'Montserrat-Medium';
  src: local('Montserrat-Medium'), url("/static/fonts/Montserrat/Montserrat-Medium.c8b6e083af3f.ttf") format('opentype');
}
  
@font-face {
  font-family: 'Montserrat-Light';
  src: local('Montserrat-Light'), url("/static/fonts/Montserrat/Montserrat-Light.409c7f79a42e.ttf") format('opentype');
}
