.hide-me {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 30px -10px #000000;
}

.show-me {
  transform:translateY(0); 
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 30px -10px #000000;
  backdrop-filter: blur(10px); !important;
}

.nav-link {
  font-family: Montserrat-Light;
}

h1 {
  font-family: Montserrat-ExtraBold;
}

h2, h3, h4, h5, p {
  font-family: Montserrat-Light;
}

.gs-filter {
  mix-blend-mode:luminosity;
  background-color: #ee6c4d; !important
  opacity: 0.5;
}

.card {
  overflow: hidden;
}

#userProfilePicture {
  max-width: 310px;
  max-height: 310px;
}

#userProfilePicture:hover {
  transform: scale(1.01);
  transition: all .3s ease-in-out; !important
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
